@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');


.App>nav>p:first-child{
  font-size: 50px;
  font-family: 'Onest', sans-serif;
  width: 100%;
  margin: 20px;
  line-height: 55px;
}

.App>nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid white;
  color: white;
  border-radius: 10px;
  margin: 20px;

}

.placar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Onest', sans-serif;
  text-align: center;
  gap: 20px;
  margin: 20px;
  border: solid;
  padding: 20px 20px;
  border-radius: 20px;
}

.placar>p{
  background-color: #223C8F;
  padding: 20px;
  border-radius: 10px;
}

body{
  background-color: rgb(21, 36, 88);
}

.opcoes>button>img{
  width: 200px;
}

.opcoes>button{
  background: #223C8F;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  background-image: url(./Escolha/papel.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.opcoes>button:first-child{
  background: #223C8F;
  border: none;
  border-radius: 20px;
  background-image: url(./Escolha/Stone.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.opcoes>button:last-of-type{
  background: #223C8F;
  border: none;
  border-radius: 20px;
  background-image: url(./Escolha/tesoura.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.opcoes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.resultado{
  color: white;
  font-size: 20px;
  text-align: right;
}

.resultado>p>img{
  height: 30px;
}

.resultado>p{
  display: flex;
  align-items: center;
  font-family: 'Onest', sans-serif;
}

.opcoes>nav{
  display: flex;
  flex-direction: column;
}

.opcoes>nav>button{
  background-color: #223C8F;
  border: none;
  height: 100%;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

